.Banniere_Propos {
    width: 100%;
    max-width: 1440px;
    height: 13.9375rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    margin: 1.5em;
    background: #000;

&__IMG{
    width: 100%;
    height: 13.9375rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
   object-fit:cover;
   opacity: 0.70000001192092896; 


}


}


@media (max-width:425px) {

    .Banniere_Propos {
        width: 24rem;
        height: 17rem;
        flex-shrink: 0;
        border-radius: 1.5625rem;
        margin: 1.5em;
        background: #000;
    
    &__IMG{
        width: 100%;
        height: 17rem;
        flex-shrink: 0;
        border-radius: 1.5625rem;
       object-fit:cover;
       opacity: 0.70000001192092896; 
    
    
    }


}
}