.Banniere{
    width: 100%;
    max-width: 1240px;
    min-width: 240px;
    height: 13.9375rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    margin: 1.5em;
    position: relative;
    
    background: #000;
&__IMG{

    width: 100%;
    height: 13.9375rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
   object-fit:cover;
   opacity: 0.70000001192092896; 


}



&__Texte{
    color: white;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    position:absolute;
    width: 100%;
   top: 0;
   bottom: 0;
   display: flex;
   justify-content:center ;
   align-items: center;
}
}


@media (max-width:768px) {

.Banniere{
  width: 96%;
  height: 11rem;

  &__IMG{
    height: 11rem;
  }



}

  
}



@media (max-width:425px) {


      .Banniere {

        width: 90%;
        height: 7rem;

      &__IMG{
       height: 7rem;

      }
      &__Texte{
        display: flex;
        justify-content: flex-start;
        width: 60%;
        position: absolute;
        font-size: 1.5rem;
        left: 0;
        margin-left: 0.5em;
       

      }

      
      }


}