.carte {
    width: 21.25rem;
    height: 21.25rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
display: flex;
justify-content: flex-start;
margin: 1em;
&__ligne1{
    position: relative;
}



&__img{

    width: 100%;
    height:100%;
    border-radius: 0.625rem;
    flex-shrink: 0;
    object-fit: cover;
}
&__titre{
    position: relative;
    height: 20%;
    top: -4em;
    padding-left: 1em;
    color: white;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 1.60425rem */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    border-radius:0.625rem ;

}
}   


.carte__contenu {

    height: 100%;
}

@media (max-width:768px) {


.carte{
    width: 70%;
}
  
}