
.Conteneur {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.standard-box {

  display: inline-flex;
flex-direction: column;
gap: 1.875rem; 
margin: 2em;


}

.info-carte{
  box-sizing: content-box;
  max-width: 1023px;
  min-width: 300px;
  width: 100%;
}


.dropdown_bloc {

  width: 100%;
  max-width: 1023px;
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3125rem;
    padding: 15px 20px;
    
    

  }

  
  
  .dropdown {
    background-color: #FF6060;
  }
  
  .Fiabilité>img,
  .Description>img,
  .Equipements>img,
  .Respect>img,
  .Service>img,
  .Sécurité>img {
    
    transform: rotate(180deg);
    transition: 0.6s;
  }
  
  .Fiabilité+div,
  .Description+.box,
  .Equipements+.box,
  .Respect+div,
  .Service+div,
  .Sécurité+div {
    visibility: visible;
   height: 301px;
   max-height: 290px;
    color: red;
    background-color: #f6f6f6;
    padding: 25px 20px;
    align-items: center;
    transition:0.25s ease-out, padding 0.2s ease-out;
  }
  
  .Fiabilité_animated>img,
  .Description_animated>img,
  .Equipements_animated>img,
  .Respect_animated>img,
  .Service_animated>img,
  .Sécurité_animated>img {
    transform: rotate(0deg);
    transition: 0.6s;
  }
  
  .Fiabilité_animated+div,
  .Description_animated+.box,
  .Equipements_animated+.box,
  .Respect_animated+div,
  .Service_animated+div,
  .Sécurité_animated+div {
    visibility: hidden;
    height: 0;
    transition:0.25s ease-out, padding 0.2s ease-out;
  }
     
  @media (max-width:768px) {



  
  }


  @media  (max-width:425px) {


   .standard-box{
     margin: inherit;
     margin-bottom: 2em;
   }

   .dropdown_bloc img {
    width: 2em;
   }




  }


